<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <!--<gcConcurrent enabled="false"/>-->
    <!-- or -->
    <!--<gcConcurrent enabled="true"/>-->
    <!-- or -->
    <gcServer enabled="true"/>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
